* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.main {
  display: flex;
  margin: 0px;
}

h1 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align:left;
 }

h2 {
  color: peru;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align:center;
}
 
h3{
  color: yellow;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

h4 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  text-align: center;
 }

p {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  text-align:left;
  font-size: 1.0em;
  padding-right: 30px;
  padding-left: 40px;
 }







